mysql-connector-python
flask
flask-cors
flask-mysqldb
Flask-SQLAlchemy
SQLAlchemy
sqlalchemy-utils
pymysql
python-dotenv
flask-jwt-extended
werkzeug
cryptography
scikit-surprise
numpy<2
pandas
transformers
torch
sentencepiece
nltk
opencv-python 
matplotlib 
scikit-image
pytesseract
pyzbar